<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ASP.NET Ajax文件上传进度条示例</title>
    <meta name="author" content="Jason" />
    <link href="/style/base.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1">
        <div id="back_panel"></div>
        <div id="upload_panel">
            <div id="upload_title">处理进度</div>
            <div id="upload_content">

                <ul>
                    <li id="finished_percent">正在准备上传...</li>
                    <li><div id="upload_bar"><div id="upload_progress"></div></div></li>
                    <li id="upload_speed"></li>
                    <li id="upload_costTime"></li>
                    <li id="upload_fileSize"></li>
                    <li id="upload_fileName"></li>
                </ul>

                <div id="upload_detail"></div>
                <div id="upload_choose">
                    <span id="upload_cancel">取消</span><span id="upload_submit">确定</span>
                </div>
            </div>
        </div>
       
        <input type="button" id="btn" value="开始测试" />
    </form>
    <script src="~/js/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        function toFix(target) {
            if (parseFloat(target) == target) {
                return Math.round(target * 100) / 100;
            }
            else {
                return target;
            }
        }
  
        $(document).ready(function () {
            var guid = Math.random().toString(36).substr(2);
            var progressUrl = "@Url.Action("GetProgress", "Home")";
            var execUrl = "@Url.Action("Exec","Home")"
            var abortUrl = "@Url.Action("Abort", "Home")";
            var cancel = false;
            var timer;

            //$("#upload_panel").draggable({ handle: "#upload_title" });
            $("#upload_choose span").hover(function () {
                $(this).css({
                    "color": "#f6af3a",
                    "border": "1px solid #e78f08"
                });
            }, function () {
                $(this).css({
                    "color": "#1c94cd",
                    "border": "1px solid #ddd"
                });
            });
            $("#upload_cancel").click(function () {
                $.ajax({
                    url: abortUrl,
                    data: { guid: guid, abort: true },
                    dataType: "xml",
                    type: "post",
                    success: function () {

                        $("#upload_panel").fadeOut('fast');
                        $("#back_panel").fadeOut(1000);
                        window.clearInterval(timer);
                    }
                });
            });
            //测试 git for 2013
            $("#upload_submit").click(function () {
                $("#upload_panel").fadeOut('fast');
                $("#back_panel").fadeOut("1000");
            });
            $("#btn").click(function () {

                //开始处理
                $.post(execUrl, { guid: guid }, function(xhr) {
                    if (xhr == ok) {
                        console.log("请求开始了");
                    }
                });

                $("#upload_panel").fadeIn('fast');
                $("#back_panel").fadeIn("1000");
                $("#upload_progress").css("width", "0%");
                $("#finished_percent").html("准备上传...");
                $("#upload_speed").html("");
                $("#upload_fileName").html("");
                $("#upload_fileSize").html("");
                $("#upload_costTime").html("");
                var _option = {
                    url: progressUrl,
                    data: { guid: guid },
                    dataType: "json",
                    type: "post",
                    beforeSend: function () {
                        $("#back_panel").fadeTo('fast', '0.5');
                        $("#upload_panel").fadeIn('1000');
                    },
                    success: function (xhr) {
                        if (xhr.Abort) {
                            $("#upload_panel").fadeOut('fast');
                            $("#back_panel").fadeOut(1000);
                            window.clearInterval(timer);
                        } 
                        else {
                            var _percent = (xhr.Percent * 100);
                            var _speed = toFix(xhr.Speed);
                            //var _fileSize = $(response).find("root fileSize").text();
                            var _upload_costTime = toFix(xhr.CostTime);
                            //if (parseInt(_speed) < 1024) {
                            //    _speed = LJQ.toFix(_speed) + "Kb";
                            //} else {
                            //    _speed = LJQ.toFix(_speed / 1024) + "Mb";
                            //}

                            //if (parseInt(_fileSize) / 1024 < 1024) {
                            //    _fileSize = LJQ.toFix(_fileSize / 1024) + "Kb";
                            //} else if (parseInt(_fileSize) / 1024 / 1024 < 1024) {
                            //    _fileSize = LJQ.toFix(_fileSize / 1024 / 1024) + "Mb";
                            //} else {
                            //    _fileSize = LJQ.toFix(_fileSize / 1024 / 1024 / 1024) + "Gb";
                            //}

                            if (_upload_costTime < 1000) {
                                _upload_costTime = _upload_costTime + "毫秒";
                            } else if (_upload_costTime / 1000 < 60) {
                                _upload_costTime = parseInt(_upload_costTime / 1000) + "秒" + _upload_costTime % 1000 + "毫秒";
                            } else {
                                _upload_costTime = parseInt(_upload_costTime / 1000 / 60) + "分" + parseInt((_upload_costTime % 60000) / 1000) + "秒" + _upload_costTime % 1000 + "毫秒";
                            }
                            $("#upload_progress").css("width", parseInt(_percent) + "%");
                            $("#finished_percent").html("完成百分比：" + _percent + "%");
                            $("#upload_speed").html("上传速度：" + _speed + "/sec");
                            $("#upload_fileName").html(xhr.Msg);
                          //  $("#upload_fileName").html("文件名称：" + $(response).find("root fileName").text());
                          //  $("#upload_fileSize").html("文件大小：" + _fileSize);
                            $("#upload_costTime").html("上传耗时：" + _upload_costTime);
                            if (_percent >= 100) {

                                window.clearInterval(timer);
                                $("#finished_percent").html("<span style='color:green;'>文件上传完成</span>");
                            }
                            if (cancel) {
                                window.clearInterval(timer);
                            }
                        }

                    },
                    error: function () { }
                };

                timer = window.setInterval(function () { $.ajax(_option); }, 1000);

            });
        });

    </script>
</body>
</html>